<nav>
  <ul>
    <li><%= link_to :Unplugged, root_path %></li>
    <li><%= link_to 'Borrow an instrument', root_path %></li>
    <li><%= link_to 'Offer an instrument', root_path %></li>
    <%= render 'devise/menu/login_items' %>
    <%= render 'devise/menu/registration_items' %>
  </ul>
</nav>
