<% instruments.each_with_index do |instrument, index| %>
  <h4>
    <%= instrument.category %> |
    <strong><%= instrument.price %><small><strong>eur</strong></small></strong> |
    <small>
      <%= link_to 'More', instrument_path(instrument), data: { action: 'instruments#show', index: instrument.id } %>
    </small>
  </h4>
  <div data-target='instruments.details'
       data-index='<%= instrument.id %>'
       class='hidden'>
    <%= render 'instrument', instrument: instrument %>
  </div>
  <p><small><%= instrument.address %></small></p>
<% end %>

<!-- Now I can remove show.html.erb -->
